jupyter_server_terminals==0.4.4
beautifulsoup4==4.12.3
anyio==4.2.0
hvplot==0.11.0
sphinxcontrib-qthelp==1.0.3
jupyterlab-widgets==1.0.0
seaborn==0.13.2
requests-file==1.5.1
boltons==23.0.0
mccabe==0.7.0
Pygments==2.15.1
packaging==24.1
matplotlib==3.9.2
snowballstemmer==2.2.0
zope.interface==5.4.0
pluggy==1.0.0
pillow==10.4.0
nbconvert==7.16.4
dask==2024.8.2
nbformat==5.10.4
pycurl==7.45.3
libarchive-c==5.1
protobuf==4.25.3
distributed==2024.8.2
nbclient==0.8.0
mypy==1.11.2
pyct==0.5.0
dill==0.3.8
cookiecutter==2.6.0
sphinxcontrib-serializinghtml==1.1.10
contourpy==1.2.0
threadpoolctl==3.5.0
smmap==4.0.0
astropy-iers-data==0.2024.9.2.0.33.23
Markdown==3.4.1
bcrypt==3.2.0
pytz==2024.1
whatthepatch==1.0.2
frozendict==2.4.2
linkify-it-py==2.0.0
rfc3986-validator==0.1.1
pure-eval==0.2.2
rope==1.12.0
colorcet==3.1.0
spyder-kernels==2.5.0
pyflakes==3.2.0
chardet==4.0.0
altair==5.0.1
navigator-updater==0.5.1
decorator==5.1.1
et-xmlfile==1.1.0
anaconda-navigator==2.6.3
colorama==0.4.6
python-slugify==5.0.2
jmespath==1.0.1
toml==0.10.2
PyQtWebEngine==5.15.6
wrapt==1.14.1
python-lsp-server==1.10.0
terminado==0.17.1
tzdata==2023.3
jupyterlab-pygments==0.1.2
kiwisolver==1.4.4
typing_extensions==4.11.0
service-identity==18.1.0
ipython==8.27.0
PyDispatcher==2.0.5
sphinxcontrib-jsmath==1.0.1
openpyxl==3.1.5
conda-repo-cli==1.0.114
Protego==0.1.16
jaraco.classes==3.2.1
incremental==22.10.0
numba==0.60.0
parso==0.8.3
pyOpenSSL==24.2.1
pyviz_comms==3.0.2
itemloaders==1.1.0
executing==0.8.3
sortedcontainers==2.4.0
jsonschema==4.23.0
lz4==4.3.2
astroid==2.14.2
watchdog==4.0.1
gensim==4.3.3
conda-package-handling==2.3.0
jupyter-events==0.10.0
jupyter_client==8.6.0
libmambapy==1.5.8
anaconda-anon-usage==0.4.4
itemadapter==0.3.0
ujson==5.10.0
tornado==6.4.1
lazy-object-proxy==1.10.0
HeapDict==1.0.1
py-cpuinfo==9.0.0
h11==0.14.0
bleach==4.1.0
numpydoc==1.7.0
conda-content-trust==0.2.0
lxml==5.2.1
conda-libmamba-solver==24.9.0
ipython-genutils==0.2.0
async-lru==2.0.4
panel==1.5.2
six==1.16.0
annotated-types==0.6.0
itsdangerous==2.2.0
jupyter_server==2.14.1
python-dateutil==2.9.0.post0
scikit-image==0.24.0
jsonpatch==1.33
ruamel-yaml-conda==0.17.21
toolz==0.12.0
argon2-cffi==21.3.0
pkce==1.0.3
s3fs==2024.6.1
tifffile==2023.4.12
cssselect==1.2.0
sniffio==1.3.0
pydantic==2.8.2
jeepney==0.7.1
Scrapy==2.11.1
intervaltree==3.1.0
imagesize==1.4.1
conda==24.9.2
pylint-venv==3.0.3
jupyter-console==6.6.3
Unidecode==1.3.8
ipykernel==6.28.0
urllib3==2.2.3
Sphinx==7.3.7
SQLAlchemy==2.0.34
isort==5.13.2
anaconda-catalogs==0.2.0
wurlitzer==3.0.2
xyzservices==2022.9.0
PyJWT==2.8.0
overrides==7.4.0
plotly==5.24.1
pickleshare==0.7.5
idna==3.7
pkginfo==1.10.0
python-dotenv==0.21.0
cryptography==43.0.0
soupsieve==2.5
docstring-to-markdown==0.11
click==8.1.7
importlib-metadata==7.0.1
zipp==3.17.0
regex==2024.9.11
imageio==2.33.1
referencing==0.30.2
platformdirs==3.10.0
alabaster==0.7.16
rfc3339-validator==0.1.4
atomicwrites==1.4.0
jupyter_core==5.7.2
Flask==3.0.3
jupyterlab==4.2.5
queuelib==1.6.2
QtAwesome==1.3.1
aiohappyeyeballs==2.4.0
httpcore==1.0.2
conda-build==24.9.0
matplotlib-inline==0.1.6
pylint==2.16.2
uc-micro-py==1.0.1
charset-normalizer==3.3.2
ruamel.yaml==0.18.6
httpx==0.27.0
pydeck==0.8.0
imbalanced-learn==0.12.3
rpds-py==0.10.6
streamlit==1.37.1
Werkzeug==3.0.3
requests==2.32.3
locket==1.0.0
Send2Trash==1.8.2
truststore==0.8.0
cachetools==5.3.3
unicodedata2==15.1.0
pycodestyle==2.11.1
notebook==7.2.2
tenacity==8.2.3
markdown-it-py==2.2.0
attrs==23.1.0
docker-pycreds==0.4.0
ptyprocess==0.7.0
multipledispatch==0.6.0
astropy==6.1.3
fonttools==4.51.0
Jinja2==3.1.4
cycler==0.11.0
cffi==1.17.1
setproctitle==1.3.5
mistune==2.0.4
filelock==3.13.1
wcwidth==0.2.5
iniconfig==1.1.1
menuinst==2.1.2
yarl==1.11.0
MarkupSafe==2.1.3
jsonschema-specifications==2023.7.1
pycosat==0.6.6
widgetsnbextension==3.6.6
pycparser==2.21
qstylizer==0.2.2
tables==3.10.1
prompt-toolkit==3.0.43
python-json-logger==2.0.7
ply==3.11
PyQt5==5.15.10
arrow==1.2.3
python-lsp-jsonrpc==1.1.2
psutil==5.9.0
dask-expr==1.1.13
pyodbc==5.1.0
json5==0.9.6
PyYAML==6.0.1
Brotli==1.0.9
bokeh==3.6.0
python-lsp-black==2.0.0
holoviews==1.19.1
jupyter==1.0.0
qtconsole==5.5.1
tabulate==0.9.0
blinker==1.6.2
Twisted==23.10.0
param==2.1.1
anaconda-cloud-auth==0.5.1
pyls-spyder==0.4.0
ruamel.yaml.clib==0.2.8
w3lib==1.21.0
pexpect==4.8.0
multidict==6.0.4
fsspec==2024.6.1
webencodings==0.5.1
text-unidecode==1.3
requests-toolbelt==1.0.0
patsy==0.5.6
keyring==24.3.1
tqdm==4.66.5
smart-open==5.2.1
lazy_loader==0.4
mdit-py-plugins==0.3.0
gitdb==4.0.7
anaconda-project==0.11.1
hyperlink==21.0.0
distro==1.9.0
textdistance==4.2.1
binaryornot==0.4.4
archspec==0.2.3
comm==0.2.1
zstandard==0.23.0
pandas==2.2.2
sympy==1.13.2
jedi==0.19.1
greenlet==3.0.1
jupyterlab_server==2.27.3
certifi==2024.8.30
datashader==0.16.3
ipywidgets==7.8.1
sentry-sdk==2.22.0
pyarrow==16.1.0
jupyter-lsp==2.2.0
websocket-client==1.8.0
aiohttp==3.10.5
SecretStorage==3.3.1
lckr_jupyterlab_variableinspector==3.1.0
pip==24.2
debugpy==1.6.7
rich==13.7.1
pyparsing==3.1.2
joblib==1.4.2
appdirs==1.4.4
mkl_fft==1.3.10
tldextract==5.1.2
intake==2.0.7
pyasn1-modules==0.2.8
sphinxcontrib-applehelp==1.0.2
nest-asyncio==1.6.0
asttokens==2.0.5
cloudpickle==3.0.0
autopep8==2.0.4
conda-pack==0.7.1
lmdb==1.4.1
notebook_shim==0.2.3
conda-token==0.5.0+1.g2209e04
partd==1.4.1
tinycss2==1.2.1
Bottleneck==1.3.7
imagecodecs==2023.1.23
frozenlist==1.4.0
pyxdg==0.27
numexpr==2.8.7
constantly==23.10.4
conda_index==0.5.0
more-itertools==10.3.0
prometheus-client==0.14.1
scipy==1.13.1
argon2-cffi-bindings==21.2.0
mkl_random==1.2.7
PyWavelets==1.7.0
aiosignal==1.2.0
pathspec==0.10.3
sphinxcontrib-htmlhelp==2.0.0
inflection==0.5.1
mypy-extensions==1.0.0
diff-match-patch==20200713
flake8==7.0.0
anaconda-client==1.12.3
h5py==3.11.0
yapf==0.40.2
PySocks==1.7.1
three-merge==0.1.1
sip==6.7.12
msgpack==1.0.3
wheel==0.44.0
mkl-service==2.4.0
semver==3.0.2
Rtree==1.0.1
mdurl==0.1.0
aioitertools==0.7.1
pytoolconfig==1.2.6
tomlkit==0.11.1
QtPy==2.4.1
pyzmq==25.1.2
PyQt5-sip==12.13.0
xarray==2023.6.0
pyasn1==0.4.8
pydocstyle==6.3.0
tomli==2.0.1
conda_package_streaming==0.10.0
defusedxml==0.7.1
docutils==0.18.1
networkx==3.3
zict==3.0.0
pytest==7.4.4
tblib==1.7.0
GitPython==3.1.43
botocore==1.34.69
QDarkStyle==3.2.3
pydantic_core==2.20.1
sphinxcontrib-devhelp==1.0.2
parsel==1.8.1
statsmodels==0.14.2
spyder==5.5.1
setuptools==75.1.0
mpmath==1.3.0
llvmlite==0.43.0
aiobotocore==2.12.3
nltk==3.9.1
jellyfish==1.0.1
jsonpointer==2.1
numpy==1.26.4
traitlets==5.14.3
cytoolz==0.12.2
Automat==20.2.0
black==24.8.0
pyerfa==2.0.1.4
fastjsonschema==2.16.2
pandocfilters==1.5.0
stack-data==0.2.0
Babel==2.11.0
wandb==0.19.8
scikit-learn==1.5.1
